html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #EAEBED;
    color: #2E424D;
}

/* Portada */

#home {
    display: flex;
    position: relative;
    top: 0;
    height: 100vh;
    z-index: 2;
    margin: 0 0;
    overflow: hidden;
}

#home>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding-left: 150px;
    align-self: center;
}

.line {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 1s steps(13) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

#imagen-portada {
    clip-path: circle(750px at 100% 50%);
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#imagen-portada>img {
    object-position: 200px;
    transform: scale(5);
}

/* Proyectos */
#projects {
    height: 100vh;
    width: 100vw;
    background-color: #2E424D;
}

#projects>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding: 17vh 0 5vh 15vh;
    margin: 0;
    color: #EAEBED;

}

/* Contacto */
#contact {
    display: flex;
    position: relative;
    top: 0;
    height: 100vh;
    z-index: 2;
    margin: 0 0;
    overflow: hidden;
}

/* Biografía */
#contact>#bio {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#contact>#bio>h2 {
    margin: 15vh 0 5vh 15vh;
    font-size: 40px;
}

#contact>#bio>p {
    margin: 0 15vh;
    font-family: 'Raleway', sans-serif;
    max-height: 60vh;
    overflow: auto;
}

/* Redes sociales */
#contact>#social {
    width: 30vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contact>#social>a {
    margin: 0 20px 10vh;
    background-color: #EAEBED;
    border-radius: 30px;
    text-decoration: none;
    transition: transform .5s ease;
}

#contact>#social>a:hover {
    transform: translateY(-10px);
}

#contact>#social>a>i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
    color: #2E424D;
}

/* Botón home */
.circle {
    text-decoration: none;
    z-index: 5;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    background-color: #EAEBED;
    color: #2E424D;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle>i {
    font-size: 30px;
    margin-bottom: 4px;
}

/* CSS Scroll Snap */
.group {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.group::-webkit-scrollbar {
    display: none;
}

.group>div {
    scroll-snap-align: start;
}