@media screen and (max-width: 900px) {

    /* Se quitan los iconos y el texto de la topnav */
    .topnav-parent>a:nth-child(1),
    .topnav-parent>a:nth-child(3),
    .topnav-parent>a:nth-child(5),
    .topnav-parent>a:nth-child(6),
    .topnav-parent>svg:nth-child(2),
    .topnav-parent>svg:nth-child(4) {
        display: none;
    }

    /* Se muestran las tres rayitas */
    .topnav-parent i:nth-child(7) {
        display: block;
        right: 0;
    }

    .topnav-parent {
        width: fit-content;
    }

    #imagen-portada {
        width: 150vw;
    }

    /* Se reducen los margenes izquierdos */
    #logo {
        margin-left: 30px;
    }

    #home>h1 {
        padding: 0 50px;

    }   

    /* Proyecto */
    #projects>h1{
        padding: 15vh 0 5vh 15vw;
    }

    .card-container{
        margin: 0 15vw;
    }

    /* Contact uno debajo de otro */
    #contact {
        flex-direction: column;
    }

    #contact>#bio {
        width: 100vw;
        height: 75vh;
    }

    #contact>#bio>h2{
        margin: 15vh 0 5vh 15vw
    }

    #contact>#bio>p {
        margin: 0 15vw 5vh 15vw;
        max-height: 40vh;
    }

    #contact>#social {
        width: 100vw;
        height: 25vh;
    }

    #contact>#social>h2 {
        margin: 0 0 5vh 15vw;
    }
}

@media screen and (max-width: 600px) {
    #imagen-portada {
        width: 220vw;
    }
}