.topnav{
    width: calc(100vw - 40px);
    position: absolute;
    z-index: 3;
    margin: 30px 20px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;

/*     background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px; */
}

#logo{
    margin-left: 75px;
    width: fit-content;
    font-size: 50px;
}

#language{
    font-size: 25px;
}

.topnav-parent{
    width: 500px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EAEBED;
}

.topnav-parent>a{
    text-decoration: none;
    color: #EAEBED;
}

.topnav-parent>a:hover{
    text-decoration: underline;
}